
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


html,
body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	background-image:linear-gradient(to right, transparent, rgba(228, 155, 30, 0.26))
}

h1 {
	font-size: 4rem;
	font-family: 'Times New Roman', Times, serif;
}
.main {
	margin: 0 auto;
	padding-top: 200px;
}

.bloc_img {
	width: 100%;
	height: 65vh;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	letter-spacing: 5px;
	font-size: 5rem;
	background-position: center;
	background-size: cover;
	background-image:linear-gradient(to right, transparent, rgba(255, 166, 0, 0.548)), url(../img/image4.png);
}

/* .bg_img {
	width: 100%;
	height: 65vh;

	background-color: rgba(255, 166, 0, 0.548);

	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	letter-spacing: 5px;
	font-size: 5rem;
} */

.bloc_form {
	background-color: #fff;
	display: flex;
	text-align: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
}

.titre-form {
	margin-top: 55px;
}

.name-field {
	margin: auto auto;
	border: 1px solid rgba(255, 166, 0, 0.548);
	border-radius: 25px;
	padding: 80px;
}

.bloc_form h2 {
	color: #000;
	text-align: center;
	padding-top: 22px;
}

.button {
	padding: 5px;
	width: 50%;
	border-radius: 45px;
	font-size: 1.2rem;
	font-weight: 900;
	background: #000;
	color: #fff;
	border: 1px solid;
	transition: all 1s ease;
	border: 4px solid lightblue;
	transition-delay: 0.2s;
	cursor: pointer;
}

.button:hover {
	box-shadow: 0 0 20px rgba(255, 166, 0, 0.548);
	border: 4px solid rgba(255, 166, 0, 0.548);
	color: #fff;
	transition: box-shadow 7s, border 3s, background 3s, color 3s;
}
