{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet-Simplom</title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <div class="main container row">
        <div class="bloc_img col-md-6">
            <h1>Simplon</h1>
        </div>

        <div class="bloc_form col-md-6">
           <form action="" method="POST">
                {% csrf_token %}
                <div class="titre-form">
                    <h3>Enregistrement</h3>
                    <hr>
                </div>
                <div class="name-field">
                    {{ form.as_p }}
                    <input class="button" type="submit" value="Envoyer">
                </div>

           </form>
        </div>
    </div>
</body>
</html>